.boton-flotante {
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 12px 20px;
    background: #25D366;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1000;
    text-decoration: none; /* Quita el subrayado */
}
.boton-flotante:hover {
    background-color: #388e3c;
    text-decoration: none; /* Asegura que tampoco haya subrayado al pasar el mouse */
}